<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

    <appender name="ROOT_APPENDER_PORTAL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="200MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="File" value="${path.logs}${file.separator}ocs${file.separator}portal.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy}; %d{HH:mm:ss}; %p; {%C->%M} %m%n" />
        </layout>
    </appender>

    <appender name="DEBUG_APPENDER_PORTAL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="true" /> 
        <!-- <param name="Append" value="false" /> -->
        <param name="File" value="${path.logs}${file.separator}ocs${file.separator}debug_portal.log" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy}; %d{HH:mm:ss}; %p; {%C->%M} %m%n" />
        </layout>
    </appender>
    
    <appender name="ERROR_APPENDER_PORTAL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="true" />
        <param name="File" value="${path.logs}${file.separator}ocs${file.separator}error_portal.log" />
        <param name="threshold" value="error" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MM/yyyy HH:mm:ss,SSS}] {%C->%M} %m%n" />
        </layout>
    </appender>
    
    <appender name="INFO_APPENDER_PORTAL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="true" />
        <param name="File" value="${path.logs}${file.separator}ocs${file.separator}info_portal.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy}; %d{HH:mm:ss}; %p; %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="info" />
            <param name="LevelMax" value="warn" />
        </filter>
    </appender>

    <logger name="cl.sebastian.oneclickstore">
        <level value="DEBUG" />
        <appender-ref ref="DEBUG_APPENDER_PORTAL" />
        <appender-ref ref="ERROR_APPENDER_PORTAL" />
        <appender-ref ref="INFO_APPENDER_PORTAL" />
    </logger>
    
    <logger name="com.transbank">
        <level value="DEBUG" />
        <appender-ref ref="DEBUG_APPENDER_PORTAL" />
        <appender-ref ref="ERROR_APPENDER_PORTAL" />
        <appender-ref ref="INFO_APPENDER_PORTAL" />
    </logger>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="ROOT_APPENDER_PORTAL" />
    </root>

</log4j:configuration>
